<h4 style="font-size:25px;color:grey">Autorizar Membros para as seguintes caravanas</h4>
<br><br>
<div class="col m12">
    <table class="bordered highlight">
    <thead>
          <tr>
              <th>Nome</th>
              <th>Ala</th>
              <th>Carvana</th>
              <th>Valor Pago</th>
              <th>Data Pgto</th>
              <th>Liberado Ala</th>
              <th>Liberado Estaca</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="w in Autorizacoes">
            <td>{{ w.Nome }}</td>
            <td>{{ w.Ala }}</td>
            <td>{{ convertDate(w.DataCaravana,0) }}</td>
            <td class="center-align">{{ w.ValorPago.toFixed(2) }}</td>
            <td>{{ convertDate(w.PgtoDate,0) }}</td>
            <td class="center-align" ng-style="w.LiberadoAla>0 && {'background-color': '#c8e6c9'} ">
                <a class="colAla" href="#/autorizacoes/{{w.idAla}}/{{w.idMembro}}/{{w.idCaravana}}/{{ w.LiberadoAla>0 && '0' || IDMembro}}">{{ w.LiberadoAla>0 && 'Sim' || 'Nao' }}</a>
            </td>
            <td class="center-align"  ng-style="w.LiberadoEstaca>0 && {'background-color': '#c8e6c9'} ">
                <a class="colEstaca" href="#/autorizacoes/{{w.idAla}}/{{w.idMembro}}/{{w.idCaravana}}/{{ w.LiberadoEstaca>0 && '0' || IDMembro}}">{{ w.LiberadoEstaca>0 && 'Sim' || 'Nao'}}</a>
            </td>
          </tr>
        </tbody>
    </table>
</div>

