

<h4 style="font-size:25px;color:grey">Caravanas da Estaca</h4>
<br><br>            
                 
<!--
           <ul class="collection with-header">
            <a ng-repeat="w in Caravanas" href="#/caravanas/{{w.idCaravana}}" class="collection-item">{{ convertDate(w.Data) + " - as "+w.HoraSaida  }} <span class="right">{{ w.LocalSaida}}</span></a>
          </ul>
-->
            
<table class="bordered highlight">
<thead>
      <tr>
          <th>Data Caravana</th>
          <th>Horario Saida</th>
          <th>Local Saida</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="w in Caravanas">
        <td>{{ convertDate(w.Data) }}</td>
        <td class="center-align">{{ w.HoraSaida }}</td>
        <td>{{ w.LocalSaida }}</td>
        <td><a href="#/listapassageiros/{{w.idCaravana}}"><i class="material-icons">format_list_numbered</i></a></td>
        <td><a href="#/caravanas/{{w.idCaravana}}"><i class="material-icons">mode_edit</i></a></td>
      </tr>
    </tbody>
</table> 
<br>
<a id="btnVolta" class="right waves-effect waves-light btn green" href="#/caravanas/add">Criar Caravana</a>
    