<br>
<form ng-submit="salvaCaravana()">
    <div class="col s6" style="padding-left:20%;padding-right:20%">
        <div class="row">
            <div class="input-field col s6">
              <input id="cldata" type="text" class="formMembro datepicker" ng-model="objDataSaida" required>
              <label for="cldata">Data Saida</label>
            </div>
            <div class="input-field col s3">
              <input id="horasaida" type="text" class="formMembro validate" ng-model="objHoraSaida" required>
              <label for="horasaida">Horario de Saida</label>
            </div>
            <div class="input-field col s3">
              <input id="horaretorno" type="text" class="formMembro validate" ng-model="objHoraRetorno" required>
              <label for="horaretorno">Horario de Retorno</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="local" type="text" class="formMembro validate" ng-model="objLocalSaida" required>
              <label for="local">Local Saida</label>
            </div>
        </div>
        <div class="row">   

            <div class="input-field col s4">
              <input id="qtdonibus" type="number" class="formMembro validate" ng-model="objNumeroOnibus">
              <label for="qtdonibus">Numero de Onibus</label>
            </div>
            <div class="input-field col s4">
              <input id="totallugares" type="number" class="formMembro validate" ng-model="objTotalLugares">
              <label for="totallugares">Total de Lugares</label>
            </div>
            <div class="input-field col s4">
              <input id="valorpassagem" type="number" min="0" step=".01" class="formMembro validate" ng-model="objValorPassagem" required>
              <label for="valorpassagem">Valor da Passagem</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="obs" type="text" class="formMembro validate" ng-model="objObs  ">
              <label for="obs">Observacoes</label>
            </div>
        </div>
        
        <button id="btnSalvaRegistro"type="submit" class="btn btn-default right">Salvar Caravana</button>  
    </div>
</form>
<div class="container">
    <div class="input-field col s12">
      <button id="btnExcluiRegistro" ng-click="excluiCaravana()" class="hide btn btn-flat right">Excluir</button> 
    </div>
</div>

    
      

<script>
    $(document).ready(function() {
        $('select').material_select();
        $(".datepicker").pickadate({
            selectMonths: true, 
            selectYears: 15 
        });
    });
    
</script>
