
<!-- Model screen // teve que ser aqui pq nao se consguia ler inputs dentro da DIRECTIVE-->
<div id="modal1" class="modal" >
    <div class="modal-content">
        <h4>Quero estar nessa caravana</h4>
        <p class="tamMedio">Informe o valor e data da contribuicao referente a passagem</p>
        <div class="row">
            <form class="col s8">
                <div class="row">
                    <div class="input-field col s7">
                        <input placeholder='Valor Pago' id="valorpago" ng-model="valorpago" type="text" >
                        <input class="hide" id="idCaravana" ng-model="idCaravana" type="text" >
                    </div>                        
                    <div class="input-field col s7">
                        <input placeholder='Selecione Data de Pagamento' id="datapgto" ng-model="datapgto" type="text">
                    </div>
                </div>            
            </form>
        </div>
        <div class="modal-footer">
            <button ng-click="ConfirmaInteresse()" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar Interesse</button>
            <!-- <button ng-click="ConfirmaInteresse()" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar Interesse</button>-->
        </div>
    </div>    
</div>


<!-- Model screen quando usuario quer cancelar interesse-->
<div id="modal2" class="modal" style="height:100px">
    <div class="modal-content">
        <h4>Tem certeza que quer cancelar seu lugar nessa caravana?</h4>
        <br><br><p>Atencao!<br> Uma vez cancelado, seu lugar sera cedido a outro membro nessa caravana e talvez nao consiga reverter essa operacao.
        Entre em contato com seu lider para tratar do valor ja pago.
        </p>
        <div class="modal-footer">
            <button ng-click="CancelaInteresse()" class="modal-action modal-close waves-effect waves-green btn-flat">Tenho Certeza</button>
        </div>
    </div>    
</div>




<div class="row"> 
    <div class="col s8 offset-m2">
        <p class="textoAviso">Proxima Caravana</p>
    </div>    
    <div ng-repeat="p in proximacaravana">
        <proxima-caravana proxima-caravana-obj="p" converte-data="convertDate(dateParam)" nome-do-membro={{NomeMembro}} id-membro={{IDMembro}}></proxima-caravana>
        {{p.data}}
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({
            ready: function(modal, trigger) {
                var t = trigger[0].getAttribute('data-id');
                $('#idCaravana').val(t);
            },
            complete: function(){
            }
        });
        $( "#datapgto" ).datepicker();


    });


</script>  

