
<h4 style="font-size:25px;color:grey">Lista de Passageiros</h4>
<br><br>            
<table class="bordered highlight">
<thead>
      <tr>
          <th>#</th>
          <th>Nome Completo</th>
          <th>Ala</th>
          <th>Liberado Ala</th>
          <th>Liberado Estaca</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="w in listapassageiros">
        <td>{{$index + 1}}</td>  
        <td>{{ w.Nome }}</td>
        <td>{{ w.Ala }}</td>
        <td>{{ w.liberadoAlaNome }}</td>
        <td>{{ w.liberadoEstacaNome }}</td>
        <td><button style="color:#3366BB  " id="btnExcluiRegistro" ng-click="excluiPassageiro(w.idCaravana,w.idMembro)" class="btn btn-flat right">Excluir </button> </td>
      </tr>
    </tbody>
</table> 
<br>
    