<!DOCTYPE html>
<html lang="" ng-app="templotripApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/Static/style.css">
    <script src="script.js"></script>
    <script src="app.js"></script>
    <script src="routes.js"></script>
    <script src="services.js"></script>
    <script src="controllers.js"></script>
    <script src="directives.js"></script>
    
    
    
</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#/membros/{{IDMembro}}">Meus Dados</a></li>
        <li class="divider"></li>
        <li><a href="login.htm">Encerrar Sessao</a></li>
    </ul>
     <nav class="menuImage">
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo" style="color:dimgray"><i class="material-icons md-18" id="logoOnibus">directions_bus</i>TemploTrip</a>
            <span class="right navbar-chamado"></span>
        </div>
    </nav>
    <nav>
        <div class="nav-wrapper" ng-controller="mainController">
        <span class="center-align crumbs">Estaca Santa Maria - Ala {{AlaMembro}}</span>
          <ul class="right hide-on-med-and-down" id="menuNavbar">
            <span id="menuDivisor"></span>  
            <li><a class="navbar-item" href="#/minhasviagens/">Minhas Viagens</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">person</i>{{NomeMembro}}<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
    </nav>
   
    <div class="container">
    <br><br>
    <div ng-view></div>
          
    </div>

    <script>
        $(".dropdown-button").dropdown();
    </script>
</body>
</html>
