<h4 style="font-size:25px;color:grey">Lista de Membros</h4>
<br>
<div class="col m6">
    <div class="collection">
        <a ng-repeat="w in Ala" style="color:#263238;font-size:110%" href="#/membros/{{w.idMembro}}" class="collection-item">{{ w.Nome }} <span class="right">{{ w.Ala }}</span></a>
    </div>
    <a id="btnVolta" ng-if="TipoMembro==='AE'" class="right waves-effect waves-light btn green" href="#/membros/add">Adicionar Membro</a>
    
    
</div>