<br>
<form ng-submit="salvaMembro()">
    <div class="col s6" style="padding-left:20%;padding-right:20%">
        <div class="row">
            <div class="input-field">
            <select id="idala" ng-model="objAlaID" class="formMembro" required>
                <option value="" disabled selected>Selecione sua Ala</option>
                <option value="1">Centro</option>
                <option value="2">Ipiranga</option>
                <option value="9">Itaimbe</option>
                <option value="6">Parque Pinheiro</option>
                <option value="3">Santa Marta</option>
                <option value="10">Tancredo Neves</option>
                <option value="5">Urlandia</option>
                <option value="7">Camobi</option>
                <option value="4">Salgado Filho</option>
                <option value="8">Santa Maria</option>
            </select>
            <label>Ala</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="last_name" type="text" class="formMembro validate" ng-model="objNome" required>
              <label for="last_name">Nome Completo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="email" type="email" class="formMembro validate" ng-model="objEmail" required>
              <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="fone" type="text" class="formMembro validate" ng-model="objFone" required>
              <label for="fone">Fone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="rg" type="text" class="formMembro validate" ng-model="objRG">
              <label for="rg">RG</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="cn" type="text" class="formMembro validate" ng-model="objCN">
              <label for="cn">Certidao de Nascimento</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
              <input id="chamado" type="text" class="formMembro validate" ng-model="objChamado">
              <label for="chamado">Chamado</label>
            </div>
        </div>
        <button id="btnSalvaRegistro"type="submit" class="btn btn-default right">Salvar </button> 

    </div>
</form>    
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
