
            <h4 style="font-size:25px;color:grey">Minhas Viagens</h4>
            <br><br>             
            <table class="bordered highlight">
            <thead>
                  <tr>
                      <th>Data Caravana</th>
                      <th>Valor Pago</th>
                      <th>Data Pgto</th>
                      <th>Liberado pela Ala</th>
                      <th>Liberado pela Estaca</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="w in minhasviagens">
                    <td>{{ convertDate(w.DataCaravana,0) }}</td>
                    <td class="center-align">{{ w.ValorPago.toFixed(2) }}</td>
                    <td>{{ convertDate(w.PgtoDate,0) }}</td>
                    <td>{{ w.liberadoAlaNome }}</td>
                    <td>{{ w.liberadoEstacaNome }}</td>
                  </tr>
                </tbody>
            </table>   
 