    <div class="row">        
     <div class="col s8 offset-m2">
        <div class="card medium horizontal hoverable ">
          <div class="card-image">
            <img src="Static/img/templo4.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><span class="tituloData">{{converteData({dateParam : proximaCaravanaObj.Data})}}</span><br><br>Saida: <span class="tituloLabel">{{proximaCaravanaObj.LocalSaida}}</span><br>
                  Horario Saida: <span class="tituloLabel">{{proximaCaravanaObj.HoraSaida}}</span> <br> Horario Retorno: <span class="tituloLabel">{{proximaCaravanaObj.HoraRetorno}}</span> <br>
                  Vagas disponivel: <span id="tituloVagas">{{proximaCaravanaObj.Livres}}</span><br>
                  </p>
                <br>
                <span class="obs">{{proximaCaravanaObj.Obs}}</span>
                
            </div>
            <div class="card-action">
              <button data-target="modal1" ng-if="proximaCaravanaObj.naLista!=='true'" data-id={{proximaCaravanaObj.idCaravana}} class="right waves-effect waves-light btn">Eu quero!</button>
              <button data-target="modal2" ng-if="proximaCaravanaObj.naLista==='true'" data-id={{proximaCaravanaObj.idCaravana}} class="right waves-effect red waves-light btn">Desistir da Vaga</button>
                <span id="statusSolicitacao" class="left" ng-if="proximaCaravanaObj.naLista==='true' && (proximaCaravanaObj.liberadoAla!=='true' || proximaCaravanaObj.liberadoEstaca!=='true')" style="color:red">Aguardando aprovacao!</span>
                <span id="statusSolicitacao" class="left" ng-if="proximaCaravanaObj.naLista==='true' && proximaCaravanaObj.liberadoAla==='true' && proximaCaravanaObj.liberadoEstaca==='true'">Confirmado!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>



