body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background: #78909c           ;
/*    background: #37474f;*/
    padding-left: 2%;
    padding-right: 2%;
}

/* Top right menu */
.dropdown-button{ 
    font-size: 16px;
}

.navbar-item{ 
    font-size: 16px;
}

span.navbar-chamado{
    color:gray;
    font-size: 16px;
    padding-right: 3%;
    padding-top: 5px;
}

#logoOnibus{
    padding-top: 5px;
    color: #90caf9    ;
    font-size: 48px;
}

/* Cores para o form dos membro */
.formMembro{
    color: #0277bd  ;
}
.crumbs{
    font-size: 16px;
}

a.menuPanel{
    color: aqua;
}

.container{
/*    display: flex;*/

}

p.tamMedio{
    font-size: 18px;
}

span.obs{
    color: #37474f   ;
    /*    background: #fff9c4 ;*/
    font-weight: 500;
}

.menuImage{
    background: white;
    height: 70px;
}



.modal { 
    width: 40% !important ; 
    height: 480px !important ; 
}

#valorpago, #datapgto{
  position: relative;
  background: transparent;
  width: 220%;
  padding: 8px 0;
  font-size: 30px;
}

.card-content{
    font-size: 110%;
}

a.brand-logo{
    padding-top: 5px;
}

.textoAviso{
    font-size: 180%;
    color: #37474f ;
    font-family: 'Dosis', sans-serif;
}

.tituloData{
    font-size: 120%;
    font-weight: 900;
    color: #00695c ;
}


.tituloLabel{
    color: #1976d2  ;
}
#tituloVagas{
    font-size:120%;
    color:#37474f ;
    font-weight: 900;
}





